.navbar {
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 100px;
    border: 1px solid;
    padding: 40px;
    background-color:rgba(27, 208, 57, 0.16);
}
