#lblMessage {
    color: red;
}

.navbar {
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 150px;
    border: 1px solid;
    padding: 40px;
}
